<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.sdk.payment.eway.com.rxjavasample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="rapidandroidsdk.sdk.payment.eway.com.rxjavasample.RxSampleMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="rapidandroidsdk.sdk.payment.eway.com.rxjavasample.RxEncryptionActivity"
            android:label="@string/title_activity_rx_encryption"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="rapidandroidsdk.sdk.payment.eway.com.rxjavasample.RxCodeLookUpActivity"
            android:label="@string/title_activity_code_look_up"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
